<h3>Add a reporter to the {{beat.name}} beat</h3>

<form ng-submit="addReporter()" role="form">
  <input type="text" ng-model="reporterName" placeholder="name" required/>
  <input type="text" ng-model="reporterYears" placeholder="years of employment" required/>
  <input type="text" ng-model="reporterBirthday" placeholder="birthday" required/>

  <button type="submit" class="btn btn-success">Add</button>
</form>


<h3>{{beat.name}} beat reporters:</h3>
<label for="query">Reporters Filter</label>
<input type="text" ng-model="query">
<ul>
  <li ng-repeat="reporter in beat.reporters | filter:query">
    <a ui-sref="beats.reporters.info({ reporterId: reporter.id })">{{reporter.name}}</a>
    <div ui-view></div>
  </li>
</ul>
