<div class="col-xs-6">
  <h3>Add a New Beat</h3>
  <form ng-submit="BeatsFactory.addBeat()" role="form">
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" placeholder="e.g. Music" required/>

      <button type="submit" class="btn btn-danger">Add</button>
    </div>
  </form>

  <div ng-show="beats.length">
    <h3>Beat Roots Beats:</h3>
    <label for="query">Beats Filter</label>
    <input type="text" ng-model="query">
    <ul>
      <li ng-repeat="item in beats | filter:query">
        <a ui-sref="beats.reporters({ beatId: item.id })">{{item.name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-xs-6">
  <div ui-view></div>
</div>
